[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromadb = "*"
sentence-transformers = "*"
langchain = "*"
ollama = "*"
pypdf = "*"
langchain-community = "*"
langchain-text-splitters = "*"
python-dotenv = "*"
openai = "*"
langchain-openai = "*"
streamlit = "*"
langchain-huggingface = "*"
langchain-chroma = "*"

[dev-packages]

[requires]
python_version = "3.12"
