[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chromadb = "*"
sentence-transformers = "*"
langchain = "*"
ollama = "*"
pypdf = "*"
langchain-community = "*"
langchain-text-splitters = "*"

[dev-packages]

[requires]
python_version = "3.12"
